@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.color-text {
    color: #1a1a1a;
}

.color-primary {
    color: #006699;
}

.h1 {
    font-family: "Roboto Slab", serif;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 14px;
}

.h2 {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
}

.body {
    font-family: "Robto Slab", serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.25;
}

.link {
    font-family: "Robto Slab", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.metadata {
    font-family: "Robto Slab", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}

.small {
    font-family: "Robto Slab", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}

.wrapper {
    width: 100%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 54px;
    padding-left: 16px;
    padding-right: 16px;
}

header{
    
}

article {
    padding-top: 80px;
}